html, body{
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
}

/*SITE HEADER STYLING BY PRINCE KELVIN ONYENANU
PLEASE DO NOT TAMPER WITH ANY CODE WITHIN THIS WARNING*/
#scrollbox {
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#scrollbox textarea{
	width: 100%;
	height: 600px;
}

#mainLabel{
	padding-top: 8px; 
	color: #f15556;
	display: none;
	font-size: 30px;
	line-height: 70px;
	width: 26px;
	float: right;
	margin: 0 10px 0 0;
}
#thelogo{
	padding: 0;
	height: 0px;
    float: left;
}
#thelogo :hover{
	background-color: #f9f9f9;
}
#toggle{
	display: none;
}
#myLabel{
	padding-left: 219px;

}
#secondLabel{
	padding-left: 219px;
}
/*My new changes begin here*/

.newnav{
    top: 0;
    width:100%;
	text-align: right;
	height: 97px;
	line-height: 80px;
	background-color: #f9f9f9;
}
.newnav a, .newnav a:focus{
	padding: 55px 30px 50px 30px;
	/margin: 5px;
	/padding-top: 30px;
    /padding-bottom: 50px;
    font: normal normal normal 18px/23px 'Raleway', sans-serif;
    color: #000;
    transition-duration: .5s;

}
.newnav a:hover ,
.newnav a.current
{
    background-color: #f15556;
    color: #ffffff;
    text-decoration: none;
    
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img {
padding-top: 80px;
margin-left: 0px; 
width: 20%; 
float: left; 
height: 500px;  }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

div#slider2 { overflow: hidden; }
div#slider2 figure img {
margin-left: 0px; 
width: 20%; 
float: left; 
height: 500px;  }
div#slider2 figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
.container_wapper3 {
	background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    width: 100%;
    background: #BDBDBD;
}

.container_wapper2 {
	background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
	overflow: hidden;
	width: 100%;
	height: 100%;
    position: relative;
    text-align: center;
    color: white;
}
.container_wapper2 img{
	height: 100%;
	width: 100%;
	opacity: 0.5;
}
.container_wapper2 p{
	 font: normal normal normal 18px/23px 'Raleway', sans-serif;
	}
.centered {
    position: absolute;
    text-align: justify;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered h3{
	text-align: center;
	text-transform: uppercase;
}
.want-to-meet img{
	width: 100%;
	height: 500px;
}
#privacybanner{
	margin-left: 45px;
	width: 92%;
	height: 100px;
	background-color: #f15556; 
}
#privacybanner p{
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-top: 23px;
}
#mySelect{
	height: 50px;
	width: 115px;
	border-radius: 25px;
}
#mySelect2{
	height: 50px;
	width: 319px;
	border-radius: 25px;;
}
@media screen and (max-width: 600px){
	
	#mainLabel{
	display: block;
	cursor: pointer;
	}

	.newnav{
		height: 80px;

	}

	.nav{
		background-color: white;
		border-bottom: 1px solid white;
	}
	.menu{
		
		height: 480px;
		float: right;
		text-align: left;
		width: 100%;
		display: none;
	
	}
	.menu a{
		z-index: 5500
		font-size: 13px;
		color: black;
		background-color: #f9f9f9;
		display: block;
		border-bottom: 1px solid black;
		margin: 0;
		clear: right;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
	}

	#toggle:checked + .menu{
		display: block;

	}
	#thelogo{
		/padding-top: 20px;
		margin: 0;
		height: 0px;
		float: left;
	}
	#thelogo a{
		height: 0;
		padding: 0 !important;
	}
	.dropdown{
		display: none;
	}
	#myLabel{
		padding-left: 13px;
	}
	#secondLabel{
		padding-left: 15px;
	}
	div#slider figure img{
		height: 250px;
	}
	div#slider2 figure img{
		height: 250px;
	}
	#scrollbox{
		padding-left: 30px;
    	padding-right: 30px;
	}
	#privacybanner{
	margin:0;
	width: 100%;
	height: 50%;
	}
	.centered {

	max-height: 500px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    /transform: translate(-50%, -50%);
	}
.centered h3{
	text-align: center;
	 font: normal normal normal 18px/23px 'Raleway', sans-serif;
	}

.centered p {
	font: normal normal normal 14px/20px 'Raleway', sans-serif;
	line-height: 1.1em;
	}
	.centered p span{

	}
	#mySelect{
		height: 50px;
		width: 100%;
		border-radius: 25px;
	}
	#mySelect2{
		height: 50px;
		width: 100%;
		border-radius: 25px;;
	}


}
/*media query for that stupid form*/
/@media screen and (max-width: 990px){
	#mySelect{
		height: 50px;
		width: 100%;
		border-radius: 25px;
	}
	#mySelect2{
		height: 50px;
		width: 100%;
		border-radius: 25px;;
	}
	#myLabel{
		padding-left: 13px;
	}
	#secondLabel{
		padding-left: 15px;
	}
}
